name: immich_ui
publish_to: none

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  html: ^0.15.6

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true