{{#hasDefaultResponse}}{{#responses}}{{#isDefault}}{{#dataType}}{{{dataType}}}?{{/dataType}}{{^dataType}}void{{/dataType}}{{/isDefault}}{{/responses}}{{/hasDefaultResponse}}{{^hasDefaultResponse}}{{#returnType}}{{{.}}}?{{/returnType}}{{^returnType}}void{{/returnType}}{{/hasDefaultResponse}}