{{#hasDefaultResponse}}{{#responses}}{{#isDefault}}{{{dataType}}}{{/isDefault}}{{/responses}}{{/hasDefaultResponse}}{{^hasDefaultResponse}}{{#returnType}}{{{.}}}{{/returnType}}{{^returnType}}void{{/returnType}}{{/hasDefaultResponse}}