.vscode/
cli/
design/
docker/
docs/
fastlane/
machine-learning/
misc/
mobile/

server/node_modules
server/coverage/
server/.reverse-geocoding-dump/
server/upload/
server/dist/

web/node_modules/
web/coverage/
web/.svelte-kit
web/build/
