.vscode/

design/
docker/
docs/
fastlane/
machine-learning/
misc/
mobile/

server/node_modules/
server/coverage/
server/.reverse-geocoding-dump/
server/upload/
server/dist/

web/node_modules/
web/coverage/
web/.svelte-kit
web/build/

cli/node_modules/
cli/.reverse-geocoding-dump/
cli/upload/
cli/dist/

e2e/

open-api/typescript-sdk/node_modules/
open-api/typescript-sdk/build/
