.vscode/
.github/
.git/
.env*
*.log
*.tmp
*.temp

**/Dockerfile
**/node_modules/
**/.pnpm-store/
**/dist/
**/coverage/
**/build/

design/
docker/
!docker/scripts

docs/
!docs/package.json
!docs/package-lock.json

e2e/
!e2e/package.json
!e2e/package-lock.json

fastlane/
machine-learning/
misc/
mobile/

open-api/typescript-sdk/build/
!open-api/typescript-sdk/package.json
!open-api/typescript-sdk/package-lock.json

server/upload/
server/src/queries
server/www/

web/.svelte-kit
