**/node_modules/**

.DS_Store
.vscode/*
!.vscode/launch.json
.idea

docker/upload
docker/library
uploads
coverage

mobile/gradle.properties
mobile/openapi/pubspec.lock
mobile/*.jks
mobile/libisar.dylib
mobile/openapi/test
mobile/openapi/doc
mobile/openapi/.openapi-generator/FILES

open-api/typescript-sdk/build
mobile/android/fastlane/report.xml
mobile/ios/fastlane/report.xml
