# fly.toml app configuration file generated for immich-server on 2026-01-19T14:25:43-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'immich-server'
primary_region = 'ord'

[build]
  dockerfile = 'server/Dockerfile'

[env]
  DB_DATABASE_NAME = 'immich'
  DB_HOSTNAME = 'immich-db.internal'
  DB_PORT = '5432'
  DB_USERNAME = 'immich'
  IMMICH_ENV = 'production'
  IMMICH_IGNORE_MOUNT_CHECK_ERRORS = 'true'
  IMMICH_LOG_LEVEL = 'log'
  IMMICH_MACHINE_LEARNING_URL = 'http://ml-immich.flycast:3003'
  IMMICH_MEDIA_LOCATION = '/usr/src/app/upload'
  OAUTH_AUTO_REGISTER = 'false'
  OAUTH_BUTTON_TEXT = 'Sign in with Google'
  OAUTH_ENABLED = 'true'
  OAUTH_ISSUER_URL = 'https://accounts.google.com'
  OAUTH_SCOPE = 'openid email profile'
  REDIS_HOSTNAME = 'fly-redis-immich.upstash.io'
  REDIS_PORT = '6379'
  REDIS_USERNAME = 'default'
  STORAGE_S3_BUCKET = 'user-media'
  STORAGE_S3_ENDPOINT = 'https://t3.storage.dev'
  STORAGE_S3_PREFIX = 'users/'
  STORAGE_S3_REGION = 'auto'

[[mounts]]
  source = 'immich_upload'
  destination = '/usr/src/app/upload'

[http_service]
  internal_port = 2283
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1

  [http_service.concurrency]
    type = 'requests'
    hard_limit = 250
    soft_limit = 200

[[vm]]
  memory = '4gb'
  cpus = 2
  memory_mb = 4096
