experimental_monorepo_root = true

[tools]
node = "24.11.0"
pnpm = "10.19.0"

[settings]
experimental = true
pin = true

# SDK tasks
[tasks."sdk:install"]
dir = "open-api/typescript-sdk"
run = "pnpm install --filter @immich/sdk --frozen-lockfile"

[tasks."sdk:build"]
dir = "open-api/typescript-sdk"
env._.path = "./node_modules/.bin"
run = "tsc"

# i18n tasks
[tasks."i18n:format"]
dir = "i18n"
run = { task = ":i18n:format-fix" }

[tasks."i18n:format-fix"]
dir = "i18n"
run = "pnpm dlx sort-json *.json"
