experimental_monorepo_root = true

[monorepo]
config_roots = [
  "plugins",
  "server",
  "cli",
  "deployment",
  "mobile",
  "e2e",
  "web",
  "docs",
  ".github",
]

[tools]
node = "24.13.1"
flutter = "3.35.7"
pnpm = "10.29.3"
terragrunt = "0.98.0"
opentofu = "1.11.4"
java = "21.0.2"

[tools."github:CQLabs/homebrew-dcm"]
version = "1.30.0"
bin = "dcm"
postinstall = "chmod +x $MISE_TOOL_INSTALL_PATH/dcm"

[settings]
experimental = true
pin = true

# SDK tasks
[tasks."sdk:install"]
dir = "open-api/typescript-sdk"
run = "pnpm install --filter @immich/sdk --frozen-lockfile"

[tasks."sdk:build"]
dir = "open-api/typescript-sdk"
env._.path = "./node_modules/.bin"
run = "tsc"

# i18n tasks
[tasks."i18n:format"]
dir = "i18n"
run = { task = ":i18n:format-fix" }

[tasks."i18n:format-fix"]
dir = "i18n"
run = "pnpm run format:fix"
