name: immich_mobile
description: Immich - selfhosted backup media file on mobile phone

publish_to: 'none'
version: 2.4.1+3030

environment:
  sdk: '>=3.8.0 <4.0.0'
  flutter: 3.35.7

dependencies:
  async: ^2.13.0
  auto_route: ^9.2.0
  background_downloader: ^9.3.0
  cached_network_image: ^3.4.1
  cancellation_token_http: ^2.1.0
  cast: ^2.1.0
  collection: ^1.19.1
  connectivity_plus: ^6.1.3
  crop_image: ^1.0.16
  crypto: ^3.0.6
  device_info_plus: ^12.2.0
  # DB
  drift: ^2.26.0
  drift_flutter: ^0.2.6
  dynamic_color: ^1.8.1
  easy_localization: ^3.0.8
  ffi: ^2.1.4
  file_picker: ^8.0.0+1
  flutter:
    sdk: flutter
  flutter_cache_manager: ^3.4.1
  flutter_displaymode: ^0.7.0
  flutter_hooks: ^0.21.3+1
  flutter_local_notifications: ^17.2.1+2
  flutter_secure_storage: ^9.2.4
  flutter_svg: ^2.2.1
  flutter_udid: ^4.0.0
  flutter_web_auth_2: ^5.0.0-alpha.0
  fluttertoast: ^8.2.12
  geolocator: ^14.0.2
  home_widget: ^0.8.1
  hooks_riverpod: ^2.6.1
  http: ^1.5.0
  image_picker: ^1.2.0
  immich_ui:
    path: './packages/ui'
  intl: ^0.20.2
  isar:
    git:
      url: https://github.com/immich-app/isar
      ref: 'bb1dca40fe87a001122e5d43bc6254718cb49f3a'
      path: packages/isar/
  isar_community_flutter_libs: 3.3.0-dev.3
  local_auth: ^2.3.0
  logging: ^1.3.0
  maplibre_gl: ^0.22.0

  native_video_player:
    git:
      url: https://github.com/immich-app/native_video_player
      ref: 'e132bc3'
  network_info_plus: ^6.1.3
  octo_image: ^2.1.0
  openapi:
    path: openapi
  package_info_plus: ^8.3.0
  path: ^1.9.1
  path_provider: ^2.1.5
  path_provider_foundation: ^2.4.3
  permission_handler: ^11.4.0
  photo_manager: ^3.7.1
  pinput: ^5.0.2
  punycode: ^1.0.0
  riverpod_annotation: ^2.6.1
  scroll_date_picker: ^3.8.0
  scrollable_positioned_list: ^0.3.8
  share_handler: ^0.0.25
  share_plus: ^10.1.4
  sliver_tools: ^0.2.12
  socket_io_client: ^2.0.3+1
  stream_transform: ^2.1.1
  thumbhash: 0.1.0+1
  timezone: ^0.9.4
  url_launcher: ^6.3.2
  uuid: ^4.5.1
  wakelock_plus: ^1.3.0
  worker_manager: ^7.2.7

dev_dependencies:
  auto_route_generator: ^9.0.0
  build_runner: ^2.4.8
  custom_lint: ^0.7.5
  # Drift generator
  drift_dev: ^2.26.0
  fake_async: ^1.3.3
  file: ^7.0.1 # for MemoryFileSystem
  flutter_launcher_icons: ^0.14.4
  flutter_lints: ^5.0.0
  flutter_native_splash: ^2.4.7
  flutter_test:
    sdk: flutter
  immich_mobile_immich_lint:
    path: './immich_lint'
  integration_test:
    sdk: flutter
  isar_generator:
    git:
      url: https://github.com/immich-app/isar
      ref: 'bb1dca40fe87a001122e5d43bc6254718cb49f3a'
      path: packages/isar_generator/
  mocktail: ^1.0.4
  # Type safe platform code
  pigeon: ^26.0.2
  riverpod_generator: ^2.6.1
  riverpod_lint: ^2.6.1

dependency_overrides:
  drift:
    git:
      url: https://github.com/immich-app/drift
      ref: '53ef7e9f19fe8f68416251760b4b99fe43f1c575'
      path: drift/

flutter:
  uses-material-design: true
  assets:
    - assets/
  fonts:
    - family: Inconsolata
      fonts:
        - asset: fonts/Inconsolata-Regular.ttf
    - family: Overpass
      fonts:
        - asset: fonts/overpass/Overpass-Regular.ttf
          weight: 400
        - asset: fonts/overpass/Overpass-Italic.ttf
          style: italic
        - asset: fonts/overpass/Overpass-Medium.ttf
          weight: 500
        - asset: fonts/overpass/Overpass-SemiBold.ttf
          weight: 600
        - asset: fonts/overpass/Overpass-Bold.ttf
          weight: 700
    - family: OverpassMono
      fonts:
        - asset: fonts/overpass/OverpassMono.ttf
flutter_launcher_icons:
  image_path_android: 'assets/immich-logo.png'
  adaptive_icon_background: '#ffffff'
  adaptive_icon_foreground: 'assets/immich-logo-android-adaptive-icon.png'
  image_path_ios: 'assets/immich-logo-w-bg.png'
  android: 'ic_launcher'
  ios: false
  remove_alpha_ios: true

analyzer:
  exclude:
    - openapi/**
