[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "<0.69.0,>=0.68.0"
pydantic = "<2.0.0,>=1.8.0"
uvicorn = "<0.16.0,>=0.15.0"
tensorflow = "~=2.8.0"
numpy = "==1.22.2"
pillow = "==9.0.1"

[dev-packages]

[requires]
python_version = "3.8"
