{
  "extends": ["prettier"],
  "plugins": ["jest"],
  "rules": {
    "semi": "off",
    "object-curly-spacing": "off",
    "arrow-parens": "off",
    "new-cap": "off",
    "no-await-in-loop": "off"
  },
  "parserOptions": {
    "ecmaVersion": 2023,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "node": true
  }
}
