{
  "jsonRecursiveSort": true,
  "organizeImportsSkipDestructiveCodeActions": true,
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-sort-json"],
  "printWidth": 120,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all"
}
