version: '3.8'

name: immich-e2e

services:
  immich-server:
    container_name: immich-e2e-server
    command: ['./start.sh']
    image: immich-server:latest
    build:
      context: ../
      dockerfile: server/Dockerfile
    environment:
      - DB_HOSTNAME=database
      - DB_USERNAME=postgres
      - DB_PASSWORD=postgres
      - DB_DATABASE_NAME=immich
      - IMMICH_MACHINE_LEARNING_ENABLED=false
      - IMMICH_METRICS=true
    volumes:
      - upload:/usr/src/app/upload
      - ./test-assets:/test-assets
    depends_on:
      - redis
      - database
    ports:
      - 2283:3001

  redis:
    image: redis:6.2-alpine@sha256:c0634a08e74a4bb576d02d1ee993dc05dba10e8b7b9492dfa28a7af100d46c01

  database:
    image: tensorchord/pgvecto-rs:pg14-v0.2.0@sha256:90724186f0a3517cf6914295b5ab410db9ce23190a2d9d0b9dd6463e3fa298f0
    command: -c fsync=off -c shared_preload_libraries=vectors.so ${POSTGRES_SSL_PARAMS}
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: immich
    volumes:
      - ./postgres-tls:/tls
    ports:
      - 5433:5432

volumes:
  model-cache:
  upload:
