name: immich-e2e

services:
  e2e-auth-server:
    container_name: immich-e2e-auth-server
    build:
      context: ../e2e-auth-server
    ports:
      - 2286:2286

  immich-server:
    container_name: immich-e2e-server
    image: immich-server:latest
    build:
      context: ../
      dockerfile: server/Dockerfile
      cache_from:
        - type=registry,ref=ghcr.io/immich-app/immich-server-build-cache:linux-amd64-cc099f297acd18c924b35ece3245215b53d106eb2518e3af6415931d055746cd-main
        - type=registry,ref=ghcr.io/immich-app/immich-server-build-cache:linux-arm64-cc099f297acd18c924b35ece3245215b53d106eb2518e3af6415931d055746cd-main
      args:
        - BUILD_ID=1234567890
        - BUILD_IMAGE=e2e
        - BUILD_SOURCE_REF=e2e
        - BUILD_SOURCE_COMMIT=e2eeeeeeeeeeeeeeeeee
    environment:
      DB_HOSTNAME: database
      DB_USERNAME: postgres
      DB_PASSWORD: postgres
      DB_DATABASE_NAME: immich
      IMMICH_MACHINE_LEARNING_ENABLED: 'false'
      IMMICH_TELEMETRY_INCLUDE: all
      IMMICH_ENV: testing
      IMMICH_PORT: '2285'
      IMMICH_IGNORE_MOUNT_CHECK_ERRORS: 'true'
    volumes:
      - ./test-assets:/test-assets
    depends_on:
      redis:
        condition: service_started
      database:
        condition: service_healthy
    ports:
      - 2285:2285

  redis:
    container_name: immich-e2e-redis
    image: docker.io/valkey/valkey:9@sha256:930b41430fb727f533c5982fe509b6f04233e26d0f7354e04de4b0d5c706e44e
    healthcheck:
      test: redis-cli ping || exit 1

  database:
    container_name: immich-e2e-postgres
    image: ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0@sha256:bcf63357191b76a916ae5eb93464d65c07511da41e3bf7a8416db519b40b1c23
    command: -c fsync=off -c shared_preload_libraries=vchord.so -c config_file=/var/lib/postgresql/data/postgresql.conf
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: immich
    ports:
      - 5435:5432
    shm_size: 128mb
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres -d immich']
      interval: 1s
      timeout: 5s
      retries: 30
      start_period: 10s
