[tools]
terragrunt = "0.98.0"
opentofu = "1.11.4"

[tasks."tg:fmt"]
run = "terragrunt hclfmt"
description = "Format terragrunt files"

[tasks.tf]
run = "terragrunt run --all"
description = "Wrapper for terragrunt run-all"
dir = "{{cwd}}"

[tasks."tf:fmt"]
run = "tofu fmt -recursive tf/"
description = "Format terraform files"

[tasks."tf:init"]
run = { task = "tf init -- -reconfigure" }
dir = "{{cwd}}"
