## Highlights

{{RELEASE HIGHLIGHTS}}

As always, please consider supporting the project.

🎉 Cheers! 🎉

- - - -

And as always, bugs are fixed, and many other improvements also come with this release.
