/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  position: relative;
  overflow: hidden;
  text-align: center;
  background: #606c88;
  background: -webkit-linear-gradient(to top, #4e5362, #606c88);
  background: linear-gradient(to top, #4e5362, #606c88);
  color: whitesmoke;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonsRow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 4rem;
  gap: 1rem;
}

.installButton {
  background-color: #adcbfa;
  color: #000000;
  border-radius: 50px;
}

.installButton:hover {
  color: #000000;
}

.introButton {
  background-color: #e6ebf5;
  color: #000000;
  border-radius: 50px;
}

.introButton:hover {
  color: #000000;
}

.demoButton {
  background-color: aquamarine;
  color: #000000;
  border-radius: 50px;
}

.demoButton:hover {
  color: #000000;
}