@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Snowburst+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: 'Work Sans', sans-serif;
}

body {
	/* min-height: 100vh; */
	margin: 0;
	background-color: #f6f8fe;
	color: #5f6368;
}

@layer utilities {
	.immich-form-input {
		@apply bg-slate-100 p-2 rounded-md focus:border-immich-primary text-sm;
	}

	.immich-form-label {
		@apply font-medium text-sm text-gray-500;
	}

	.immich-btn-primary {
		@apply bg-immich-primary text-gray-100 border rounded-xl py-2 px-4 transition-all duration-150 hover:bg-immich-primary hover:shadow-lg text-sm font-medium;
	}

	.immich-text-button {
		@apply flex place-items-center place-content-center gap-2 hover:bg-immich-primary/5 p-2 rounded-lg font-medium;
	}

	/* width */
	.immich-scrollbar::-webkit-scrollbar {
		width: 8px;
	}

	/* Track */
	.immich-scrollbar::-webkit-scrollbar-track {
		background: #f1f1f1;
		border-radius: 16px;
	}

	/* Handle */
	.immich-scrollbar::-webkit-scrollbar-thumb {
		background: rgba(85, 86, 87, 0.408);
		border-radius: 16px;
	}

	/* Handle on hover */
	.immich-scrollbar::-webkit-scrollbar-thumb:hover {
		background: #4250afad;
		border-radius: 16px;
	}
}
