name: Release Pull Request
on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  bump:
    runs-on: ubuntu-latest
    steps:
      - name: Generate a token
        id: generate-token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        with:
          app-id: ${{ secrets.PUSH_O_MATIC_APP_ID }}
          private-key: ${{ secrets.PUSH_O_MATIC_APP_KEY }}

      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          token: ${{ steps.generate-token.outputs.token }}
          persist-credentials: true
          ref: main

      - name: Determine release type
        id: bump-type
        uses: ietf-tools/semver-action@v1.11.0
        with:
          token: ${{ steps.generate-token.outputs.token }}

      - name: Bump versions
        env:
          TYPE: ${{ steps.bump-type.outputs.bump }}
        run: misc/release/bump-versions.sh -m -s $TYPE

      - name: Create PR
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        with:
          token: ${{ steps.generate-token.outputs.token }}
          commit-message: "chore: release ${{ steps.bump-type.outputs.next }}"
          title: "chore: release ${{ steps.bump-type.outputs.next }}"
          branch: "release/next"
