{
  "importOrder": ["<THIRD_PARTY_MODULES>", "<BUILTIN_MODULES>", "^\\$(.*)$", "^@test-data(.*)$", "^[./]"],
  "importOrderSeparation": false,
  "jsonRecursiveSort": true,
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-svelte", "prettier-plugin-sort-json"],
  "printWidth": 120,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all"
}
